.container-xl {
  max-width: 1200px;
}
.card {
  border-radius: 20px;
  //   height: 294px;
  overflow: hidden;
  border: none;
  i {
    font-size: 80px;
  }
  p {
    line-height: 1.8;
    font-size: 1.0625rem;
    font-weight: 600;
  }
  &--demo {
    background-color: #b8ddff;
    color: #0084ff;
    img {
      height: 390px;
    }
    p {
      color: #3279bb;
    }
    button {
      letter-spacing: 3px;
      i {
        font-size: inherit;
      }
    }
  }
  &--code {
    background-color: #caf0db;
    color: #54c788;
    p {
      color: #529671;
    }
  }
  &--web {
    background-color: #ffd2d2;
    color: #ff8a8a;
    p {
      color: #9e5d5d;
    }
  }

  &--development {
    background-color: #ffe7c4;
    color: #ffc166;
    p {
      color: #a68454;
    }
  }
  &--branding {
    background-color: #d5d4f5;
    color: #9693e6;
    p {
      color: #676597;
    }
  }
}

.offer {
  background-color: #9693e6;

  &__col1 {
    p {
      line-height: 2;
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .offer {
    &__wrapper {
      max-width: 850px;
    }
  }
}
.testimonials {
  @media only screen and (min-width: 992px) {
    max-width: 991px ;
    display: block;
    margin-left: auto;
    margin-right: auto;  }


  &__header{
    color: #9693e6;
    
  }
  &__person--pink {
    background-color: #ffbfbf;
  }

  &__person--yellow {
    background-color: #ffddab;
  }

  &__person--green {
    background-color: #b3e9cb;
  }

  &__quote {
    font-size: 1.5em;
  }

  &__circle-wrapper {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    //display: flex;
    //align-content: center;
    //align-items: center;

  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
}